[options]
db_host = db
db_post = 5432
db_user = odoo
db_password = admin
addons_path = /opt/odoo/odoo/addons, /extra_addons,
    /opt/odoo/vendor_addons/account-invoicing,
    /opt/odoo/vendor_addons/account-reconcile,
    /vendor_addons/query_deluxe,
data_dir = /opt/odoo/data
admin_passwd = admin
logfile = /var/log/odoo/odoo.log
log_level = debug
logrotate = True
workers = 0
max_cron_threads = 0
limit_memory_hard = 2684354560
limit_memory_soft = 2147483648
limit_time_cpu = 600
limit_time_real = 1200
limit_request = 8192
xmlrpc_port = 8090
http_port = 8090
longpolling_port = 8072
proxy_mode = True
